{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div id="react-entry-point">
            <div class="_dash-loading">
                Loading...
            </div>
        </div>
        <div>
            <p>*Data obtained from
            <a href="https://github.com/CSSEGISandData/COVID-19">
                Repository by the Center for Systems Science and Engineering (CSSE) at Johns
                Hopkins University
            </a>
            organized for convenient use at
            <a href="https://www.kaggle.com/antgoldbloom/covid19-data-from-john-hopkins-university">
                Kaggle.
            </a>
            </p>
        </div>

    </div>
    {{ footer|safe }}
{% endblock content %}
